label{display:block;}

.message{
	margin:5px 0px;
}
/* START USER INFO */
.user_info{
	border:1px solid #CCC;
	padding:0px; margin-bottom:10px;
}
.user_info h4{
	padding:5px 0px; margin:0px; text-indent:5px;
	border-bottom:1px solid #CCC;
}
.user_info ul{
	padding:0px; margin:0px;
}
/* END USER INFO */
/* START PROFILE */
.profile input{
	position:absolute; right:0px;
}
.profile label{
	border-bottom:1px solid #CCC;
	position:relative;
	margin:5px 0px;padding:5px 0px;
}
/* END PROFILE */