body{
  background:#FFF4D7;
}
label{display:block;}
#logo {
	margin:25px auto 10px;
	text-align:center;
}
#logo img {
	margin: 0px auto;
}
.message{
	margin:5px 0px;
}
table.admin {width:100%;}
.admin td:last-child {width:80px;}
.admin td {padding:3px; font-weight:800;}

.preview {display:block;padding-top:20px;}

.notices {
	margin:10px 0px; padding:5px;
	border:2px solid #FFE9D1; background:#FFF9F1;
}
.notices ul {margin:0px; padding:0px;}
.notices h4 {margin:0px;}
.notices ul li {padding:0px 20px; margin:5px 0px;}

label input, label select{display:block; width:15em;}
label textarea{display: block;}
button{margin-top:15px;}

#main_frame{
  border:2px solid #CCE8FB;
  background: #FFF; margin-top:20px;
}
/* HEADER */
.header .navigation{
	margin-top:10px;
	overflow:hidden;
}
.header .navigation ul{
	border:1px solid #CCC;
	background: #DFECFF;
	margin:10px; padding:0px;
	display:block; overflow:hidden;
}
.header .navigation ul li{
	display:inline; float:left;
	margin:0px; padding:10px 15px;
	border-right:1px solid #CCC;
}
.header .navigation ul li:hover{
	background: #EFFCFF;
}
.header .navigation a{
	display:block;
}
.header .navigation a:link, .header .navigation a:visited{
	text-decoration:none; font-weight:800; font-size:1.3em;
}
/* FORMS */
.side_panel label input{display:block; width:15em;}
.content label textarea{width:50em}
.markItUp  {
	width:55em;
}