
[submodule "kohana/system"]
	path = kohana/system
	url = git://github.com/kohana/core.git
[submodule "kohana/modules/sprig"]
	path = kohana/modules/sprig
	url = git://github.com/shadowhand/sprig.git
