
[submodule "kohana/system"]
	path = kohana/system
	url = git://github.com/kohana/core.git
[submodule "kohana/modules/database"]
	path = kohana/modules/database
	url = git://github.com/kohana/database.git
