body{
	background: #EFE;
}

table {
	width:100%;
}

#header{
	border-bottom:2px solid #8CD;
	background: #9EF;
	overflow:hidden;
}
#content{
	border-top:2px solid #7BC;
	background: url(../images/000_shadow.png) repeat-y center;
}
#footer{
	background: url(../images/000_shadow.png) repeat-y center;
}

#content .container_16{
	background: #CFF;
	border-left: 2px solid #59A;
	border-right: 2px solid #59A;
}
#footer .container_16{
	background: #CFF;
	border:2px solid #59A;
}

.side_panel{
	padding:5px;
	border:1px solid #000;
	background:#8CD;
	position:relative;
	top:-60px;
}

/** notices **/
.notices ul{
	margin:0px; padding:0px;
}
.notices ul li{
	margin:0px; padding:0px;
}