# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect application and system files from being viewed(just in case)
RewriteRule ^(config|extensions|hooks|controllers|classes|helpers|libraries|logs|i18n|vendor|fonts|views) - [F,L]
RewriteRule ^(.*/html) - [F,L]

# Allow any files or directories that exist to be displayed directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]