body{
  background:#FFF4D7;
}
label{display:block;}
.content {
	
}
.message{
	margin:5px 0px;
}
table.admin {width:100%;}
.admin td:last-child {width:80px;}
.admin td {padding:3px; font-weight:800;}

.preview {display:block;padding-top:20px;}

.notices {margin:10px 0px;}
.notices ul, .notices ul li {margin:0px; padding:0px;}

label input, label select{display:block; width:15em;}
button{margin-top:15px;}

#main_frame{
  border:2px solid #CCE8FB;
  background: #FFF; margin-top:20px;
}

/* FORMS */
.side_panel label input{display:block; width:15em;}
.content label textarea{width:50em}
.markItUp  {
	width:55em;
}